[Unit]
Description=Extd server daemon
DefaultDependencies=no
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 __BIN_DIR__/extd_daemon
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=default.target